<h1>Greetings, <%= current_user.first_name %></h1>
<h2>Here are your loans, my friend:</h2>

<%= flash[:notice] %>

	<% if params[:category] == nil %>
		<%= render plain: "okay" %>
	<% else %>
		<%= render "#{params[:category]}" %>
	<% end %>

