<h1>Greetings, <%= current_user.first_name %></h1>
<h2>Here are your loans, my friend:</h2>



<%= render 'loans_listing' %>

<%= flash[:notice] %>
<% @loans.each do |loan| %>
	<%= loan.inspect %>
	<% end %>
</br>
