<div id ="items_index" class = "listing">
<h1>Welcome to Borrow.it!<br>

Enter your postal code to search for items nearby.

</h1>




<p>



<br><p>Here are the newest items which have been created. <br>Enter a search term and your zipcode to find items you can borrow nearby.

<%= render 'items_listing' %>

</div>


