<div id ="logged_in_header">
Signed in as <%= current_user.email %>


<%=link_to "Edit Profile", edit_user_registration_path %>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
</div>