<div id ="navbar">
	<div class = padded_text>
	<%= link_to "My Loans", loans_path %></div>
	<div class = "padded_text">
	 Search</div>
	 <div class = "padded_text">
	 <%= link_to "Home", root_path %>  </div>
	 	<div class = padded_text>
	<%= link_to "My Items", loans_path %></div>
<div class = "padded_text">
	 <% pending_count = current_user.pending_loan_count %>
	 <% if pending_count > 0 %>

	 <%= link_to "Pending loan requests (#{pending_count})" , loans_path({category:"pending"}) %>
	 <% end %>
	</div>
</div>